# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/
./

# System directories
/lib
/lib64
/bin
/sbin
/usr
/boot
/dev
/etc
/home
/mnt
/opt
/proc
/root
/run
/srv
/sys
/tmp
/var
/images

# Environment variables
.env

# YAML configuration files
*.yaml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS files
.DS_Store